body {
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
    font-family: 'Times New Roman', Times, serif;
}


.main-header {
    width: 100VW;
    background-color: #009d94;
    color: white;
    display: flex;
    justify-content: center;
    align-content: center;
    margin-bottom: 16px;
}

.main-nav ul {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}



li,
a {
    font-size: large;
    list-style: none;
    color: inherit;
    text-decoration: none;
}

a:hover {
    font-weight: bold;
    color: black;
}


.about-me-container {
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.about-me {
    display: flex;
    justify-content: space-around;
    background-color: black;
    color: white;

}

.about-me>div>h1 {
    font-size: 4rem;
    margin: 2rem;
    border-bottom: solid white;
}

.about-me>div>p {
    margin: 2rem;
    font-size: 1.125rem;
}

.pixafly-image-container {
    display: flex;
    flex-direction: column;
}

.pixafly-link {
    font-size: large;
    list-style: none;
    color: inherit;
    text-decoration: none;
    text-align: center;
    margin-bottom: 16px;
}

.pixafly-link:hover {
    font-size: large;
    list-style: none;
    color: lightblue;
    text-decoration: none;

}

.pixafly-image {
    width: 20rem;
    height: 20rem;
    object-fit: cover;

}

.name {
    font-size: 2rem;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 1rem;
    margin-left: 1rem;
}

.front-end {
    font-size: 3rem;
    margin-top: 0;
    margin-right: 1rem;
    margin-left: 1rem;
    color: #1e009d;
}

.portfolio-image-container {
    display: flex;
    justify-content: space-around;
}

.portfolio-image-text {
    /* justify-content: space-around; */
    word-wrap: normal;
    text-align: start;
    align-self: center;
    margin: 2rem 2rem;
}

.portfolio-image {
    border-radius: 1rem;
    margin: 0.5rem;
    width: 20rem;
    height: 20rem;
    object-fit: cover;
}